body {
    background-image: url('https://previews.123rf.com/images/keltt/keltt1404/keltt140400043/27597962-tel%C3%B3n-de-fondo-de-color-amarillo-para-los-taxis-de-la-ciudad-fondo-de-transporte-urbano.jpg');
    background-size: cover;
    background-position: center;
    color: yellow;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

img {
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
}

.title {
    font-size: 64px;
    color: white;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    margin: 20px 0;
}

.button {
    width: 300px;
    height: 80px;
    background: #F5FC92;
    color: black;
    font-size: 32px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    transition: background 0.3s, transform 0.2s;
}

.button:hover {
    background: #FFD700;
    transform: scale(1.05);
}

.button:active {
    background: #FFC107;
    transform: scale(0.95);
}

.halloween-btn {
    background-color: #ff6600;
}

.halloween-btn:hover {
    background-color: #cc5200;
}

.newyear-btn {
    background-color: #4caf50;
}

.newyear-btn:hover {
    background-color: #388e3c;
}
